@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

:root {
    --background: #ffffff;
    --tituloh1: #836FFF;
    --color-p: #383838;
    --background: url("");
    --col-deepblue: #4478e3;
  }

html {
    height: 100%;
}

body {
    background-color: #f0f0f0;
    background-attachment: local;
    background-size: 100%;
}

.espaco {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.captular::first-letter {
    font-family: 'Cormorant', serif;
    font-size: 5rem;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    margin-top: 0, 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
    float: left;
}

h1 {
    color: var(--tituloh1) !important;
    font-family: 'Roboto', sans-serif;
}

h4 {
    text-align: center;
    margin: 30px 0;
    color: rgb(122, 122, 122)
}

a {
    text-decoration: none
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.borda-sombra {
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

/******************* Videos *******************/
/* [1] The container */
.img-hover-zoom {
    height: 20vh;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover {
    transform: scale(1.1);
}


.overlay::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .7;
}

.overlay>* {
    z-index: 100;
}

.play-one,
.play-two,
.play-tree {
    border-radius: 2%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.play-one {
    background-image: url("../img/igrejabiaman2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.play-two {
    background-image: url("../img/igrejabiaman.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.play-tree {
    background-image: url("../img/sao-jose-de-ribamar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}

/******************* Apresentação front *******************/
.tela {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.tela video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.tela .container {
    position: relative;
    z-index: 2;
}

.tela .overlay-wcs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
}

/******************* Trassições 1 *****************/
.digit {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.digit.visible {
    opacity: 1;
    color: var(--color-p);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.digit:nth-child(2) {
    margin-top: 50px;
}

.digit:nth-child(3) {
    margin-top: 100px;
}

.digit:nth-child(4) {
    margin-top: 100px;
}

.digit:nth-child(5) {
    margin-top: 200px;
}

/******************* Título SJR *****************/
.alrazy-title {
    color: rgb(255, 255, 255);
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 6vw;
    font-size: calc(100vw / var(--char-total));
    position: relative;
    padding: 0.4em 0;
    overflow: hidden;
    opacity: 0.7;
    filter: alpha(opacity=50);
    zoom: 1;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.alrazy-title:after {
    color: rgb(255, 255, 255);
    font-size: 0.3em;
    content: 'Cidade Balneária - Padroeiro do Maranhão';
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
    animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes underline {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

@keyframes underline {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

.alrazy-title .word {
    display: inline-block;
    -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
    animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: calc(.5s + (.1s * var(--word-index)));
    animation-delay: calc(.5s + (.1s * var(--word-index)));
}

@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translateY(125%);
        transform: translateY(125%);
    }
}

@keyframes slide-up {
    from {
        -webkit-transform: translateY(125%);
        transform: translateY(125%);
    }
}

.splitting-mark {
    color: #FFF !important;
}

/******************* Modal *****************/
.modal {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}

.btn-close {
    background-color: #2f3030;
    transform: rotate(180deg);
    border-radius: 50%;
}

.modal-content {
    background-color: #eedec1;
}

/******************* Conteudo 1 *******************/
.we_help_you {
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.seo_service {
    padding-bottom: 140px;
}

.we_help_you,
.why_choose h3,
.get_free_info h3,
.better-img-info h3,
.testimonials h3,
.full_service h3,
.We_are_next h3 {
    text-align: center;
    font-size: 35px;
    color: rgb(88, 88, 88);
    ;
    font-weight: 700;
    padding-bottom: 15px;
}

.we_help_you p {
    font-size: 16px;
    line-height: 20px;
    color: #1b1b1b;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.icon-box-info {
    width: 84%;
    margin-left: 20px;
}

.icon-box-info p {
    text-align: left;
}

.we_help_you .icon-box {
    padding: 30px 25px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #fcfcfd;
    border: 1px solid #e8ecf1;
}

.we_help_you .icon-who {
    margin-top: 30px;
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 5px;
    width: 2px;
    height: 25vh;
    background-color: #0d4bd6;
    align-items: center;
    line-height: 30px;
    text-align: center;
}

.icon-box-info h5 {
    font-size: 18px;
    color: #0c0f13;
    font-weight: 700;
    margin-bottom: 5px;
}

.icon-box-info P {
    font-size: 14px;
}

.bg-green {
    background-color: #0dd6a9 !important;
}

.bg-blue {
    background-color: #7f48fb !important;
}

.bg-yellow {
    background-color: #ffbb38 !important;
}

.bg-bluee {
    background-color: #206fe7 !important;
}

.bg-pink {
    background-color: #ff3875 !important;
}

/******************* Conteudo 2 *****************/
.about-section {
    max-width: 100%;
    padding-top: 72px;
    padding-bottom: 30px;
}

.about-image {
    position: relative;
}

.about-image::before {
    position: absolute;
    content: '';
    background-image: url(../img/pontilhado.png);
    background-position: center center;
    background-size: 100%;
    width: 375px;
    height: 350px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.about-image .single-image {
    width: 360px;
}

.float-left {
    float: left;
}

.about-image .single-image img {
    width: 100%;
}

.about-image .single-image.image-tow {
    margin-top: -300px;
    position: relative;
    z-index: 5;
}

.about-image .single-image {
    width: 360px;
}

.float-right {
    float: right;
}

.about-content h3 {
    color: rgb(44, 44, 44);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

.about-content p {
    margin-bottom: 0px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: rgb(44, 44, 44);
    font-family: 'Poppins', sans-serif;

}

/******************* Footer *****************/
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/******************* Parallax *******************/
.parallax {
    background-image: url("https://portalfacilarquivos.blob.core.windows.net/uploads/SAOJOSEDORIBAMAR/imgOrig/%7B6AED181C-A5C6-877C-E40B-E76DC75B5B50%7D.jpeg");
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/******************* Partrocinadores *******************/
.section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%
}

#clients {
    padding: 60px 0
}

#clients .clients-wrap {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin-bottom: 30px
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px
}

#clients img {
    transition: all 0.4s ease-in-out
}

.logo-list {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.logo-list img {
    display: inline-block;
    max-width: 85%;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100);
    -moz-filter: grayscale(100);
    filter: grayscale(100);
}

.logo-list img:hover {
    filter: none;
    transform: scale(1.2);
    -webkit-filter: none;
    -moz-filter: none;
}


/******************* Comentários *******************/
.testimonial {
    margin: 0 20px 40px;
}

.testimonial .testimonial-content {
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #fff;
    border: 1px solid #f0f0f0;
    position: relative;
}

.testimonial .testimonial-content:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 22px;
    transform: rotate(45deg);
}

.testimonial-content .testimonial-icon {
    width: 50px;
    height: 45px;
    background: #ff4242;
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}

.testimonial-content .testimonial-icon:before {
    content: "";
    border-bottom: 16px solid #e41212;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}

.testimonial .description {
    font-size: 15px;
    font-style: italic;
    color: #8a8a8a;
    line-height: 23px;
    margin: 0;
}

.testimonial .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    color: #ff4242;
}

.owl-theme .owl-controls {
    margin-top: 20px;
}

.owl-theme .owl-controls .owl-page span {
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ff4242;
}


/******************* GALERIA DE FOTOS *******************/
.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}


/******************* MENU *******************/
#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 10px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}
